# Ignore directories
images/
env/

# Ignore all .log files
# *.log

# Ignore specific files
test_code/index.hmtl
test_code/index1.hmtl
config.js
# styles.css
# styles1.css
test_code/pet.html
test_code/pet.css
test_code/pet.js
test_code/BRAVE_Virtual Pet with KAPLAY.md

public/jump_game.html