body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: #1f93bd;
    margin: 0;
}

.timer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;    
    text-align: center;
    width: 100%;
    background-color: #99daf4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.timer ul{
    color:#1f93bd;
}

#timer-display {
    text-align: center;
    font-weight: 900;
    color: #1f93bd;
    font-size: 40px;
}

h1  {
    color: #1f93bd;
}

form {
    display: flex;
    color: #99daf4;
    position: relative;
    gap:10px;
    text-align: center;
    justify-content: center;
}