body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: left;
    align-items: center;
    margin: 0;
}

.timer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    width: calc(100%-10px);
    max-width: 100%;
    text-align: center;
    place-items: center;
    background-color: #ffb74d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.timer ul, h1 {
    color: #f0f0f0;
}

#timer-display {
    text-align: center;
    font-weight: 900;
    color: #f0f0f0;
    font-size: 40px;
}

form {
    display: flex;
    color: #49a149;
    position: relative;
    gap:10px;
    text-align: center;
    justify-content: center;
}

button {
    background-color:#99daf4 ;
    border-color: #1f93bd;
    color:#1f93bd;
    height:25px;
    width: 100px;
    border-radius: 15px;
    text-shadow:0 0 15px rgba(0, 0, 0, 0.2);
}

#work-options, #short, #long {
    background-color: #c1e1c1;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: #49a149;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#sessions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-self: center;
    text-align: center;
    border-radius: 15px;
    color: #1f93bd;
    background-color: #99daf4;
    padding: 15px;

}

#sessions p {
    font-size: 34px;
}

#buttons {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
}

#flow {
    color: #1f93bd;
    font-size: 24px;
}